
.btn-primary {
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
}



.btn-secondary{
   background-color: #ffe100 !important;
   border-color: #ffe100 !important;
   color: #000;

}

img {
    height: 100px;
    width: 100px;
}


.afastado{
    margin-top: 20px;
}