p{
    margin: 10px 10px 10px 10px;
}

#especial {
    color:rgba(255, 0, 0, 0.902);
    text-align: center;
    font-size: 30px;
}

.diferente{
    color: #00ffcc
}

.btn-secondary{
    color: black;
    background: yellow;
}

img {
    height: 100px;
    width: 100px;
}
a{
    margin-right: 50px;
}

h1{
    text-align: center;
}

div{
    width: 40%;
}
.afastado{
    margin-top: 20px;
}